@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.user-grid {
  display: flex;
  background-color: #e5e5e5;
}
.user-cards {
  display: flex;
  gap: 40px;
}
.main-view {
  padding: 20px;
  padding-top: 25px;
  
}

.main-user-header {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  margin: 30px;
}
